
/* Toggle Switch Styles */
.toggle-checkbox:checked {
    right: 0;
    border-color: #0056B3;
  }
  
  .toggle-checkbox:checked + .toggle-label {
    background-color: #0056B3;
  }
  
  .toggle-label {
    transition: background-color 0.2s ease-in;
  }